# MQTT (HiveMQ Cloud)
MQTT_BROKER=your-cluster.s1.eu.hivemq.cloud
MQTT_PORT=8883

MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password

# Topics
INPUT_TOPIC=fabrica/raw
OUTPUT_TOPIC=fabrica/processado
TOPIC=fabrica/raw


# MongoDB Atlas
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/smart_factory


