#MQTT
MQTT_BROKER=broker.exemplo.com
MQTT_PORT=8883
MQTT_USERNAME=usuario
MQTT_PASSWORD=senha

#TOPIC
INPUT_TOPIC=fabrica/raw
OUTPUT_TOPIC=fabrica/processado

#MongoDB
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/

#URL Azure
API_URL=smart-factory-api-atcye9cbf0gtaad0.eastus-01.azurewebsites.net

#Redis
REDIS_HOST=redis
REDIS_PORT=6379