# Ambientes virtuais Python
venv/
.venv/
env/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de build/distribuição
build/
dist/
*.egg-info/

# Logs
*.log

# Arquivos do VS Code
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos do Pytest
.pytest_cache/

# Cache de cobertura de testes
.coverage
htmlcov/

# Cache do mypy
.mypy_cache/

# Cache do Ruff
.ruff_cache/

# Jupyter
.ipynb_checkpoints/